<h2>SIPAG - Register</h2>
<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <input type="text" name="complete_name" placeholder="Full Name" required><br><br>
    <input type="text" name="username" placeholder="Username" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="text" name="barangay" placeholder="Barangay" required><br><br>
    <input type="text" name="contact_number" placeholder="Contact Number" required><br><br>
    <select name="role">
        <option value="encoder">Staff Encoder</option>
        <option value="admin">Admin</option>
    </select><br><br>
    <button type="submit">Sign Up</button>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>